
body{
  background: url(https://i.pinimg.com/564x/38/28/98/382898cf975282cb9798fba3d39a43cc.jpg);
  font-family: arial;
}
main{
  margin: 0 15%;
  color: gray;
}
h1,h2,h3{
  font-family: helvetica;
  margin-top: 1.5em;
  color: #F5F5F5;
}
h1{
  font-size: 32px;
}

}
table,th,td{
  border: 2px solid #DCDCDC;
  text-align: center;
}
th{
  color: #FFA07A;
}
figcaption{
  font-style: italic;
  text-align:center;
}
figure{
  float: right;
  margin: 0 10px;
  padding: 0 20px 0 20px;
}
table{
  margin: 0 auto 10px;
  border: 1px solid #DCDCDC;
  border-collapse: collapse;
}
em,i {
  color: #48D1CC;
}
b {
  color: #ADD8E6;
}
blockquote{
  border-left: 5px solid #48D1CC;
  padding-left: 10px;
  border-radius: 3px;
}
.nation table{
  width: 400px;
}
.list{
  list-style: none;
}
.list li{
  padding: 2px 5px;
  border-left: 7px solid #D8BFD8;
  border-radius: 7px;
  margin: 5px;
}
